.active {
  color: #a776a7;
  text-decoration: underline;
}

.inactive {
  color: #5d2e46;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header h1 {
  grid-column: 2;
  text-align: center;
}

.navigation {
  grid-column: 3;
  justify-self: end;
  display: flex;
  gap: 1em;
  font-weight: 600;
}

a {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  padding: 0px;
}
