h1,
button,
form,
#sort,
#direction,
input {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  text-align: center;
}

#root {
  background-color: #dbbdbe;
  padding: 4em;
}

button {
  background-color: #b58db6;
  padding: 0.5em 1em;
  border-radius: 20px;
  margin: 1em;
}
